In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from io import StringIO
import matplotlib.dates as dates
from datetime import datetime
import matplotlib.ticker as ticker
from random import shuffle
from time import time
from pandas.plotting import register_matplotlib_converters
%matplotlib notebook

#os.chdir('C:\\Users\\A Sua\\Documents\\FIU\\CAP2020')
os.chdir('C:\\Users\\Daniel\\Python and R Notebooks\\CAP2020\\CAP2020')

## Import Data

In [56]:
price_path = 'data\\processed\\df_quarter_price07_18.csv'
df_price = pd.read_csv(price_path)
df_price.rename(columns = {'Unnamed: 0':'Stock'}, inplace = True)
df_price.index = df_price['Stock']
df_price.drop('Stock', axis=1, inplace=True)
#df_price=df_price.T
#df_price.index.names=['date']
#df_price.index = pd.to_datetime(df_price.index, errors = 'ignore')

In [57]:
df_price.head()

,2007-03-31,2007-06-30,2007-09-30,2007-12-31,2008-03-31,2008-06-30,2008-09-30,2008-12-31,2009-03-31,2009-06-30,...,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31
Stock,,,,,,,,,,,,,,,,,,,,,
AAPL,12.84,15.52,19.05,25.25,22.56,23.91,21.54,14.21,13.44,17.79,...,103.84,111.38,129.63,148.36,153.68,164.83,166.87,177.41,206.54,190.03
AAP,37.85,41.42,34.83,36.13,34.59,37.66,40.68,30.77,37.07,43.05,...,159.01,155.96,158.82,125.42,98.81,93.30,111.81,122.78,155.00,167.26
AA,96.21,114.79,118.53,110.88,99.54,117.63,84.89,43.72,26.12,29.12,...,30.00,24.43,24.66,25.20,24.76,25.30,26.87,20.27,19.88,19.62
ABC,24.51,25.65,23.07,22.49,21.70,20.35,20.20,16.12,16.74,17.59,...,85.03,75.18,86.88,88.66,86.63,83.17,94.57,88.29,84.90,82.10
ABMD,13.61,12.23,12.13,13.82,14.01,16.43,18.18,14.29,10.70,6.84,...,119.97,114.04,114.78,132.41,155.28,182.54,246.16,362.58,399.75,366.88

In [58]:
earnings_path = 'data\\processed\\df_quarter_eps07_18.csv'
df_eps = pd.read_csv(earnings_path)
df_eps.rename(columns = {'Unnamed: 0':'Stock'}, inplace = True)
df_eps.index = df_eps['Stock']
df_eps.drop('Stock', axis=1, inplace=True)
#df_eps=df_eps.T
#df_eps.index.names=['date']
#df_eps.index = pd.to_datetime(df_eps.index, errors = 'ignore')

In [59]:
df_eps.head()

,2007-03-31,2007-06-30,2007-09-30,2007-12-31,2008-03-31,2008-06-30,2008-09-30,2008-12-31,2009-03-31,2009-06-30,...,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31
Stock,,,,,,,,,,,,,,,,,,,,,
AAN,0.54,0.36,0.29,0.29,0.46,0.44,0.40,0.39,0.66,0.51,...,0.41,0.31,0.75,0.51,0.36,2.51,0.75,0.55,0.64,0.90
AAPL,0.89,0.94,1.04,1.81,1.19,1.21,1.27,1.81,1.35,1.38,...,1.68,3.38,2.11,1.68,2.08,3.92,2.75,2.36,2.94,4.22
AAP,0.72,0.64,0.58,0.35,0.86,0.79,0.59,0.26,0.99,0.84,...,1.54,0.83,1.46,1.18,1.30,2.50,1.85,1.59,1.57,0.73
AA,0.76,0.82,0.64,0.76,0.37,0.67,0.33,-1.48,-0.61,-0.46,...,0.34,-2.92,0.69,0.44,0.23,-1.51,0.30,0.25,0.33,0.45
ABC,0.69,0.70,0.49,0.67,0.83,-0.68,0.73,0.72,0.95,0.40,...,0.66,1.13,1.89,0.23,-1.57,3.95,1.31,1.26,1.08,1.86

In [60]:
div_path = 'data\\processed\\df_quarter_div07_18.csv'
df_div = pd.read_csv(div_path)
df_div.rename(columns = {'Unnamed: 0':'Stock'}, inplace = True)
df_div.index = df_div['Stock']
df_div.drop('Stock', axis=1, inplace=True)
#df_div=df_div.T
#df_div.index.names=['date']
#df_div.index = pd.to_datetime(df_div.index, errors = 'ignore')

In [61]:
df_div.head()

,2007-03-31,2007-06-30,2007-09-30,2007-12-31,2008-03-31,2008-06-30,2008-09-30,2008-12-31,2009-03-31,2009-06-30,...,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31
Stock,,,,,,,,,,,,,,,,,,,,,
AAN,0.01,0.01,0.01,0.010,0.01067,0.01067,0.01067,0.01,0.01133,0.01133,...,0.025,0.030,0.0275,0.0275,0.0275,0.03,0.03,0.03,0.03,0.04
AAPL,0.00,0.00,0.00,0.000,0.00000,0.00000,0.00000,0.00,0.00000,0.00000,...,0.570,0.570,0.5700,0.6300,0.6300,0.63,0.63,0.73,0.73,0.73
AAP,0.06,0.06,0.06,0.060,0.06000,0.06000,0.06000,0.06,0.06000,0.06000,...,0.060,0.060,0.0600,0.0600,0.0600,0.06,0.06,0.06,0.06,0.06
AA,0.17,0.17,0.17,0.170,0.17000,0.17000,0.17000,0.17,0.17000,0.03000,...,0.090,7.760,0.0600,0.0600,0.0600,0.06,0.06,0.06,0.06,0.06
ABC,0.05,0.05,1.45,0.075,0.07500,0.07500,0.08000,0.10,0.10000,0.05000,...,0.340,0.365,0.3650,0.3650,0.3600,0.38,0.38,0.38,0.38,0.40

In [73]:
growth_path = 'data\\processed\\df_quarter_eps_growth07_18.csv'
df_growth = pd.read_csv(growth_path)
df_growth.rename(columns = {'Unnamed: 0':'Stock'}, inplace = True)
df_growth.index = df_growth['Stock']
df_growth.drop('Stock', axis=1, inplace=True)

In [74]:
df_growth.head()

,3/31/2007,6/30/2007,9/30/2007,12/31/2007,3/31/2008,6/30/2008,9/30/2008,12/31/2008,3/31/2009,6/30/2009,...,9/30/2016,12/31/2016,3/31/2017,6/30/2017,9/30/2017,12/31/2017,3/31/2018,6/30/2018,9/30/2018,12/31/2018
Stock,,,,,,,,,,,,,,,,,,,,,
AAN,-33.33333333,-33.33333333,-19.444444,0,58.62068966,-4.347826087,-9.090909,-2.500000,69.23076923,-22.727273,...,-22.64150943,-24.3902439,141.9354839,-32,-29.41176471,597.2222222,-70.119522,-26.66666667,16.36363636,40.625
AAPL,5.617977528,5.617977528,10.638298,74.03846154,-34.25414365,1.680672269,4.958678,42.519685,-25.41436464,2.222222,...,17.48251748,101.1904762,-37.5739645,-20.37914692,23.80952381,88.46153846,-29.846939,-14.18181818,24.57627119,43.53741497
AAP,-11.11111111,-11.11111111,-9.375000,-39.65517241,145.7142857,-8.139534884,-25.316456,-55.932203,280.7692308,-15.151515,...,-8.875739645,-46.1038961,75.90361446,-19.17808219,10.16949153,92.30769231,-26.000000,-14.05405405,-1.257861635,-53.50318471
AA,7.894736842,7.894736842,-21.951220,18.75,-51.31578947,81.08108108,-50.746269,-548.484848,-58.78378378,-24.590164,...,277.7777778,-958.8235294,-123.630137,-36.23188406,-47.72727273,-756.5217391,-119.867550,-16.66666667,32,36.36363636
ABC,1.449275362,1.449275362,-30.000000,36.73469388,23.88059701,-181.9277108,-207.352941,-1.369863,31.94444444,-57.894737,...,-59.25925926,71.21212121,67.25663717,-87.83068783,-782.6086957,-351.5923567,-66.835443,-3.816793893,-14.28571429,72.22222222

## Consolidate Indices

In [62]:
idx1 = df_price.index
idx2 = df_eps.index
idx3 = df_div.index

idx_diff1=idx1.difference(idx2)
idx_diff2=idx2.difference(idx1)
idx_diff3=idx1.difference(idx3)
idx_diff4=idx3.difference(idx1)
idx_diff5=idx2.difference(idx3)
idx_diff6=idx3.difference(idx2)

In [63]:
idx_diff2

Index(['AAN', 'ABK', 'AMG', 'AMR', 'FITB', 'GE', 'INCY', 'MLM', 'ORLY', 'S',
       'SEE', 'SLG', 'SRCL', 'WAT'],
      dtype='object', name='Stock')

In [64]:
idx_drop_price = idx_diff1.union(idx_diff3)
df_price.drop(idx_drop_price, inplace=True)
df_price.shape

(514, 48)

In [65]:
idx_drop_eps = idx_diff2.union(idx_diff5)
df_eps.drop(idx_drop_eps, inplace=True)
df_eps.shape

(514, 48)

In [66]:
idx_drop_div = idx_diff4.union(idx_diff6)
df_div.drop(idx_drop_div, inplace=True)
df_div.shape

(514, 48)

In [75]:
df_growth.drop(idx_drop_eps, inplace=True)
df_growth.shape

(514, 48)

## Build dividend-adjusted PEG ratio DF

In [76]:
df_peg = df_growth.add(df_div)
df_peg.head()

,12/31/2007,12/31/2008,12/31/2009,12/31/2010,12/31/2011,12/31/2012,12/31/2013,12/31/2014,12/31/2015,12/31/2016,...,9/30/2009,9/30/2010,9/30/2011,9/30/2012,9/30/2013,9/30/2014,9/30/2015,9/30/2016,9/30/2017,9/30/2018
Stock,,,,,,,,,,,,,,,,,,,,,
AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN